Repository SvenVw/fdm, pull requests merged in 2025-08, with the labels that each got.

#215 Implement changelog notification system and redesign changelog page
  .changeset/eight-mails-open.md
  .changeset/twelve-plants-taste.md
  fdm-app/app/components/blocks/sidebar/support.tsx
  fdm-app/app/components/custom/changelog-notification.tsx
  fdm-app/app/components/import/changelog1.tsx
  fdm-app/app/root.tsx
  fdm-app/app/routes/about.whats-new._index.tsx
  fdm-app/app/store/changelog.ts
Labels: fdm-app

#228 Enhance map visualization by coloring available fields based on cultivation class
  .changeset/dark-bats-sip.md
  .changeset/whole-bears-trade.md
  fdm-app/app/components/blocks/atlas/atlas-panels.tsx
  fdm-app/app/components/blocks/atlas/atlas-sources.tsx
  fdm-app/app/components/blocks/atlas/atlas-styles.tsx
  fdm-app/app/components/custom/cultivation-colors.ts
  fdm-app/app/routes/farm.$b_id_farm.$calendar.atlas.fields.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.$b_id.atlas.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.new.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.atlas.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.fields.$b_id._index.tsx
Labels: fdm-app

#224 Atlas: Display stored fields and improve navigation in farm creation
  .changeset/happy-olives-drop.md
  .changeset/nine-bushes-rest.md
  .changeset/thin-bushes-remain.md
  .changeset/wicked-apes-smell.md
  fdm-app/app/components/blocks/atlas/atlas-panels.tsx
  fdm-app/app/components/blocks/atlas/atlas-sources.tsx
  fdm-app/app/components/blocks/atlas/atlas-viewstate.tsx
  fdm-app/app/components/blocks/field/popup.tsx
  fdm-app/app/components/custom/sidebar-page.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.new.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.atlas.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.fields.tsx
Labels: fdm-app, fdm-core, branch:development

#233 Add Atlas field details flow, route, UI cards, and soil/GW/reg data
  .changeset/chilly-pants-sit.md
  .changeset/chubby-parks-pay.md
  .changeset/lucky-suns-fly.md
  .changeset/petite-dogs-type.md
  .changeset/polite-waves-like.md
  .changeset/puny-ravens-push.md
  .changeset/puny-rockets-wait.md
  .changeset/social-papers-fall.md
  fdm-app/app/components/blocks/atlas-fields/cultivation-history.tsx
  fdm-app/app/components/blocks/atlas-fields/field-details.tsx
  fdm-app/app/components/blocks/atlas-fields/groundwater.tsx
  fdm-app/app/components/blocks/atlas-fields/query.tsx
  fdm-app/app/components/blocks/atlas-fields/soil-texture.tsx
  fdm-app/app/components/blocks/atlas/atlas-panels.tsx
  fdm-app/app/components/blocks/atlas/atlas-sources.tsx
  fdm-app/app/components/blocks/atlas/atlas-viewstate.tsx
  fdm-app/app/components/blocks/email/welcome.tsx
  fdm-app/app/components/blocks/farm/farm-title.tsx
  fdm-app/app/components/blocks/header/action.tsx
  fdm-app/app/components/blocks/header/atlas.tsx
  fdm-app/app/components/blocks/header/farm.tsx
  fdm-app/app/components/blocks/sidebar/apps.tsx
  fdm-app/app/components/blocks/sidebar/farm.tsx
  fdm-app/app/integrations/nmi.ts
  fdm-app/app/lib/email.server.ts
  fdm-app/app/routes/farm.$b_id_farm.$calendar.atlas.fields.$centroid.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.atlas.fields._index.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.atlas.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.new.tsx
  fdm-app/app/routes/farm._index.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.atlas.tsx
  fdm-calculator/src/index.ts
  fdm-core/src/cultivation.test.ts
  fdm-core/src/cultivation.ts
  fdm-core/src/db/migrations/0012_legal_boomer.sql
  fdm-core/src/db/migrations/meta/0012_snapshot.json
  fdm-core/src/db/migrations/meta/_journal.json
  fdm-core/src/db/schema.ts
  fdm-core/src/harvest.test.ts
  fdm-data/src/cultivations/catalogues/brp.json
  fdm-data/src/cultivations/catalogues/brp.ts
  fdm-data/src/cultivations/d.ts
  fdm-data/src/cultivations/hash.test.ts
Labels: enhancement, fdm-app, fdm-core, fdm-data, fdm-calculator, fdm-docs, branch:main

#235 Chore/20250811
  .changeset/light-bushes-sniff.md
  .github/workflows/deploy-docs-test.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  fdm-app/app/components/blocks/sidebar/support.tsx
  fdm-app/app/entry.client.tsx
  fdm-app/app/entry.server.tsx
  fdm-app/app/root.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.atlas.fields._index.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.$b_id.atlas.tsx
  fdm-app/instrument.server.mjs
  fdm-app/package.json
  fdm-app/react-router.config.ts
  fdm-app/vite.config.ts
  fdm-calculator/package.json
  fdm-core/package.json
  fdm-data/package.json
  fdm-docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: fdm-app, fdm-core, fdm-data, fdm-calculator, dependencies, fdm-docs

#241 Use definitive for 2024 and draft for 2025 in atlas-url.ts; add changeset
  .changeset/fruity-yaks-accept.md
  fdm-app/app/components/blocks/atlas/atlas-url.ts
Labels: fdm-app

#246 Hotfix/20250815 2
  fdm-app/CHANGELOG.md
  fdm-app/app/components/blocks/atlas/atlas-styles.tsx
  fdm-app/package.json
Labels: bug, fdm-app

#257 hotfix/FDM256
  .changeset/clever-owls-attack.md
  .changeset/fifty-hounds-flow.md
  .changeset/great-boats-float.md
  fdm-app/CHANGELOG.md
  fdm-app/app/components/blocks/field/form.tsx
  fdm-app/package.json
  fdm-core/CHANGELOG.md
  fdm-core/package.json
Labels: bug, fdm-app, branch:main
