Repository SvenVw/fdm, pull requests merged in 2025-09, with the labels that each got.

#254 FDM250
  .changeset/breezy-tigers-heal.md
  .changeset/lucky-owls-help.md
  .changeset/major-donkeys-rest.md
  .changeset/slimy-geckos-invite.md
  .changeset/strong-walls-bake.md
  .changeset/ten-garlics-marry.md
  .changeset/wise-towns-rhyme.md
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers.test.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/compost.test.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/compost.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/index.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/manure.test.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/manure.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/mineral.test.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/mineral.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/other.test.ts
  fdm-calculator/src/balance/nitrogen/emission/ammonia/fertilizers/other.ts
  fdm-calculator/src/balance/nitrogen/index.ts
  fdm-calculator/src/balance/nitrogen/input.test.ts
  fdm-calculator/src/balance/nitrogen/input.ts
  fdm-calculator/src/balance/nitrogen/performance.test.ts
  fdm-calculator/src/balance/nitrogen/supply/deposition.test.ts
  fdm-calculator/src/balance/nitrogen/supply/deposition.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers.test.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/compost.test.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/compost.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/index.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/manure.test.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/manure.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/mineral.test.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/mineral.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/other.test.ts
  fdm-calculator/src/balance/nitrogen/supply/fertilizers/other.ts
  fdm-calculator/src/balance/nitrogen/supply/index.ts
  fdm-calculator/src/balance/nitrogen/types.d.ts
  fdm-core/src/fertilizer.d.ts
  fdm-data/src/fertilizers/catalogues/baat.json
  fdm-data/src/fertilizers/catalogues/baat.ts
  fdm-data/src/fertilizers/d.ts
  fdm-data/src/fertilizers/hash.test.ts
Labels: enhancement, fdm-app, fdm-core, fdm-data, fdm-calculator, branch:development

#268 Update getFields timeframe, area sort; fdm-app sorting, shapefiles
  fdm-app/CHANGELOG.md
  fdm-app/app/components/blocks/mijnpercelen/form-upload.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field._index.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.fields.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.upload.tsx
  fdm-app/package.json
  fdm-core/CHANGELOG.md
  fdm-core/package.json
  fdm-core/src/field.test.ts
  fdm-core/src/field.ts
Labels: bug, fdm-app, fdm-core, branch:main

#271 Chore/20250918
  .github/workflows/deploy-docs-test.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.$b_id.soil.analysis.new.upload.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.fields.$b_id.soil.analysis.upload.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.upload.tsx
  fdm-app/package.json
  fdm-calculator/package.json
  fdm-core/package.json
  fdm-data/package.json
  fdm-docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: fdm-app, fdm-core, fdm-data, fdm-calculator, fdm-docs

#263 Move map when the selected field changes
  .changeset/quick-parents-grin.md
  fdm-app/app/routes/farm.$b_id_farm.$calendar.field.$b_id.atlas.tsx
  fdm-app/app/routes/farm.create.$b_id_farm.$calendar.fields.$b_id._index.tsx
Labels: bug, fdm-app, branch:development

#261 Add one-click accept/reject functionality to organization invitation emails
  .changeset/lemon-lights-thank.md
  fdm-app/app/components/blocks/email/invitation.tsx
  fdm-app/app/lib/email.server.ts
  fdm-app/app/routes/organization.$slug.tsx
  fdm-app/app/routes/organization.invitations.$invitation_id.respond.tsx
  fdm-app/app/routes/organization.invitations._index.tsx
Labels: enhancement, fdm-app

#280 Per-field norms errors, GeoTIFF refactor, derogatievrije zones support
  .changeset/crazy-onions-poke.md
  .changeset/every-shoes-boil.md
  .changeset/kind-singers-arrive.md
  .changeset/light-rockets-fly.md
  .changeset/seven-crabs-cross.md
  .changeset/tame-cars-kneel.md
  fdm-app/app/components/blocks/norms/farm-norms.tsx
  fdm-app/app/components/blocks/norms/field-norms.tsx
  fdm-app/app/routes/farm.$b_id_farm.$calendar.norms.tsx
  fdm-calculator/src/balance/nitrogen/index.test.ts
  fdm-calculator/src/balance/nitrogen/index.ts
  fdm-calculator/src/balance/nitrogen/supply/deposition.test.ts
  fdm-calculator/src/balance/nitrogen/supply/deposition.ts
  fdm-calculator/src/norms/nl/2025/dierlijke-mest-gebruiksnorm.test.ts
  fdm-calculator/src/norms/nl/2025/dierlijke-mest-gebruiksnorm.ts
  fdm-calculator/src/norms/nl/2025/stikstofgebruiksnorm-data.ts
  fdm-calculator/src/norms/nl/2025/stikstofgebruiksnorm.test.ts
  fdm-calculator/src/norms/nl/2025/stikstofgebruiksnorm.ts
  fdm-calculator/src/norms/nl/2025/types.d.ts
  fdm-calculator/src/shared/geotiff.ts
  fdm-calculator/src/shared/public-data-url.ts
  fdm-calculator/tsconfig.json
Labels: enhancement, fdm-app, fdm-calculator, branch:development
